# Jekyll
_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache/

# VS Code
.vscode/*
.vscode
.vscode (1)/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/