---
layout: default
title: "R Fox Data - A personal data blog for Ryan Fox"
pagination: {enabled: true}
---

{% include hero.html %}

<div class="container animate">

  <div class="post-list">

    {% for post in paginator.posts %}

    <article class="post_card post">
      <div class="post__inner">

        {% if post.image %}
        <div class="image-wrap">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post__image">
            {% if post.image contains "http" %}
            <img class="lazy" data-src="{{ post.image }}" alt="{{ post.title }}">
            {% else %}
            <img class="lazy" data-src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
            {% endif %}
          </a>
        </div>
        {% endif %}

        <div class="post__content">
          <header class="post_header">

            <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          </header>
          <div class="post_excerpt">
            <p>
              {{ post.content | strip_html | truncatewords:25 }}
            </p>
          </div>
          <div class="post_meta small-font">
            <time class="post_date">{{ post.date | date: "%d %b %Y" }}</time>

            <i class="fas fa-tags"></i>
            {% for category in post.categories %}
            <span class="post_categories">
              <a href="{{"/category/" | append: category | prepend: site.baseurl }}">{{ category }}</a>
            </span>
            {% endfor %}

          </div>
        </div>

      </div>
    </article>
    {% endfor %}

  </div>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    <div class="pagination__list">
      {% if paginator.previous_page %}
      <a class="pagination__previous"
        href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <i class="fas fa-chevron-left"></i> Prev
      </a>
      {% else %}
      <span class="pagination__previous disabled">
        <i class="fas fa-chevron-left"></i> Prev
      </span>

      {% endif %}

      <div class="pagination__count">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </div>

      {% if paginator.next_page %}
      <a class="pagination__next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        Next <i class="fas fa-chevron-right"></i>
      </a>
      {% else %}
      <span class="pagination__next disabled">
        Next <i class="fas fa-chevron-right"></i>
      </span>
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>