---
layout: default
title: Home
---

<div class="home">
  <div class="intro" style="overflow: hidden">
    <img src="{{site.baseurl}}/assets/img/desertcircle.png" height="300px">
    <h1>
      Welcome to my blog!
    </h1>
    <p>
      Hi, I'm Ryan Fox, a digital analytics and experimentation professional and aspirational data scientist.
    </p>
    <p>
      I'm currently taking some time off work to travel around the world with my partner. We plan to be away for
      some time and I plan on using some of this time sating my desire to learn. I love to learn new things and I'll be taking 
      full advantage of the lack of any time constraints or work pressures to pursue any learning avenue that interests me. 
    </p>  
    <p>
      Here I'll be documenting my learning, general thoughts, progress learnt, book reviews and more, all with a focus on data and programming. 
      Enjoy!
    </p>
  </div>

  <hr>
  <div>
    <h1>
      Recent posts
    </h1>
  </div>
  
  <div class="post-list">

    {% for post in site.posts limit:5%}

    
    <article class="post_card post">
      <header class="post_header">
        
        <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
      </header>
      <div class="post_excerpt">
        <p>
          {% if post.description %}
          {{ post.description}}
          {% else %}
          {{ post.excerpt }}
          {% endif %} 
        </p> 
      </div>
    <footer class="post_meta">


        {% if post.location %}
        <span class="author-location">
          <div data-icon="ei-location"></div>
          <a href=https://www.google.com/maps/place/{{post.location-link}} target="_blank" >{{ post.location }}</a>
        </span>
        {% endif %}
        <!--
        {% for category in post.categories %}
        <a href="{{"/category/" | append: category | prepend: site.baseurl }}">
          <data data-icon="ei-archive"></data>
          {{category}}</a>
        {% endfor %}
        -->

        <!--
        {% if post.author %}
        <span class="author_meta">
          <img src="{{site.baseurl}}/assets/img/{{post.author}}.jpg"></img>
          <span>David Lin</span>
        </span>
        {% endif %}
        -->

        <p class="readmore">
          <a href="{{ post.url | prepend: site.baseurl }}"><data data-icon="ei-arrow-right"></data>Read post
          </a>
        </p>
      </footer>
      <hr/>
    </article>
    {% endfor %}

    <div class="pagination older-post"><a href="./archive"><data data-icon="ei-arrow-right"></data> More posts  </a></div>
  </div>
</div>
