---
layout: default
title: "R Fox Data - A personal data blog for Ryan Fox"
pagination: {enabled: true}
---

{% include hero.html %}

<div class="container">
  <a class="anchor" id="top"></a>
  <div class="row">
    <div class="col col-12">
      <div class="contaniner__inner animate">
        <div class="row">
          {% if site.posts.size > 0 %}
          {% for post in paginator.posts %}
          {% include article-content.html %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include pagination.html %}