/* Layout
—————————————————————————————————————————————————— */
* {
  box-sizing: border-box;
}

html,
.container {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  border: $light-grey-border;
  background-color: #f9f9fc;
}

.page-content {
  min-height: 100%;
  height: auto;
  padding-bottom: 140px;
}

/* Post Display
—————————————————————————————————————————————————— */

.post {
  @extend .dont-break-out;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.post__inner {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.image-wrap {
  background-color: #fff;
  padding: 15px 15px 0 15px;
}

.post__image {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  background: #f9f9fc;
  overflow: hidden;
}

.post__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__content {
  background-color: #fff;
  padding: 25px;
}

.post_header {
  margin-bottom: 1rem;
}

.post_title {
  margin-bottom: 0.5rem;
}

.post_meta {
  line-height: 2em;
  color: #999 !important;
}

.post_date {
  color: #888;
  // font-size: 1.3rem;
  display: inline-block;
}

.post_meta i {
  margin-left: 0.5rem;
  display: inline-block;
  color: #999 !important;
}

.post_categories {
  display: inline-block;
  color: #999 !important;
  a {
    background-color: #f6f6f6;
    padding: 0.25em 0.4em;
    font-weight: 600;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #999 !important;
  }
  a:hover {
    background-color: #ddd;
  }
}

.project_skills {
  background-color: #f6f6f6;
  padding: 0.25em 0.4em;
  margin-left: 0.25em;
  font-weight: 600;
  border-radius: 0.25rem;
  color: #999 !important;
}

.post_meta p.readmore:not(.project) {
  float: right;
}

p.readmore {
  text-align: right;
}

/* Pagination
—————————————————————————————————————————————————— */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.pagination__list {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  display: flex;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  color: #17181e;
  background-color: #fff;
}

.pagination__count {
  display: inline-block;
  padding: 0 15px;
  margin: 0 15px;
  font-size: 13px;
  border-left: 1px solid rgba(23, 24, 30, 0.1);
  border-right: 1px solid rgba(23, 24, 30, 0.1);
  color: #657388;
}

.pagination__previous i {
  margin-right: 0.4em;
}

.pagination__next i {
  margin-left: 0.4em;
}

.pagination__next.disabled,
.pagination__previous.disabled {
  opacity: 0.2;
  color: inherit;
}

/* Article Display
—————————————————————————————————————————————————— */

.article_title {
  margin-bottom: 1rem !important;
}

.article_header {
  margin-bottom: 2rem;
}

.article-footer {
  margin-top: 2rem;
  padding: 2rem 0;
  // border-top:1px solid #ddd;
  // border-bottom:1px solid #ddd;

  .share {
    text-align: center;
  }

  .share-link {
    text-decoration: underline;
    margin-left: 8px;
  }
}

/* Archive or all posts Page
—————————————————————————————————————————————————— */

.archive_list {
  margin-left: 5%;
  width: 90%;
  margin-bottom: 3rem;
}

.category-name {
  text-transform: lowercase;
  font-variant: small-caps;
  h2 {
    letter-spacing: 0;
    border-bottom: 1px solid #ddd;
  }
}

div.post_title span.date {
  font-size: 80%;
  color: $grey-color;
}

/* Other
—————————————————————————————————————————————————— */

.small-font {
  font-size: $small-font-size;
}

/* Author Info
—————————————————————————————————————————————————— */

.author {
  @media (max-width: $on-laptop) {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

.authorimage {
  @media (min-width: $on-laptop+1) {
    float: left;
  }
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  margin-right: 10px;
}

.authorinfo {
  .bio {
    color: #999;
  }
}

/* Markdown Control of Images
—————————————————————————————————————————————————— */

img[alt*=">"] {
  float: right;
  margin-left: 10px;
}

img[alt*="<"] {
  float: left;
  margin-right: 10px;
}

img[alt*="><"] {
  display: block;
  max-width: 100%;
  margin: auto;
  float: none !important;
}
