a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* Article Display
—————————————————————————————————————————————————— */

.article_title {
  margin-bottom: 1rem !important;
}

.article_header {
  margin-bottom: 2rem;
}

.article-footer {
  margin-top: 2rem;
  padding: 2rem 0;
  // border-top:1px solid #ddd;
  // border-bottom:1px solid #ddd;

  .share {
    text-align: center;
  }

  .share-link {
    text-decoration: underline;
    margin-left: 8px;
  }
}

/* Archive or all posts Page
—————————————————————————————————————————————————— */

.archive_list {
  margin-left: 5%;
  width: 90%;
  margin-bottom: 3rem;
}

.category-name {
  text-transform: lowercase;
  font-variant: small-caps;
  h2 {
    letter-spacing: 0;
    border-bottom: 1px solid #ddd;
  }
}

div.post_title span.date {
  font-size: 80%;
  color: $grey-color;
}

/* Other
—————————————————————————————————————————————————— */

.small-font {
  font-size: $small-font-size;
}

/* Author Info
—————————————————————————————————————————————————— */

.author {
  @media (max-width: $on-laptop) {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

.authorimage {
  @media (min-width: $on-laptop+1) {
    float: left;
  }
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  margin-right: 10px;
}

.authorinfo {
  .bio {
    color: #999;
  }
}

/* Markdown Control of Images
—————————————————————————————————————————————————— */

img[alt*=">"] {
  float: right;
  margin-left: 10px;
}

img[alt*="<"] {
  float: left;
  margin-right: 10px;
}

img[alt*="><"] {
  display: block;
  max-width: 100%;
  margin: auto;
  float: none !important;
}
