a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* Markdown Control of Images
—————————————————————————————————————————————————— */

img[alt*=">"] {
  float: right;
  margin-left: 10px;
}

img[alt*="<"] {
  float: left;
  margin-right: 10px;
}

img[alt*="><"] {
  display: block;
  max-width: 100%;
  margin: auto;
  float: none !important;
}
