<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>
<div id="gr_grid_widget_1609710085">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <div class="gr_grid_book_container">
      <a
        title="Catch-22"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/11437531-catch-22"
        ><img
          alt="Catch-22"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328015357l/11437531._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="SPQR: A History of Ancient Rome"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/25013067-spqr"
        ><img
          alt="SPQR: A History of Ancient Rome"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1539353312l/25013067._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Clean Code: A Handbook of Agile Software Craftsmanship"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/3735293-clean-code"
        ><img
          alt="Clean Code: A Handbook of Agile Software Craftsmanship"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1436202607l/3735293._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="The Madness of Crowds: Gender, Race and Identity"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/44667183-the-madness-of-crowds"
        ><img
          alt="The Madness of Crowds: Gender, Race and Identity"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1563764418l/44667183._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Easy French Step-By-Step"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/6025919-easy-french-step-by-step"
        ><img
          alt="Easy French Step-By-Step"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1405864118l/6025919._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/18290401-show-your-work"
        ><img
          alt="Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1404580714l/18290401._SX98_.jpg"
      /></a>
    </div>
  </div>
</div>
<script
  src="https://www.goodreads.com/review/grid_widget/7809364.Ryan's%20currently-reading%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=6&order=a&shelf=currently-reading&sort=date_added&widget_id=1609710085"
  type="text/javascript"
  charset="utf-8"
></script>
