<style type="text/css" media="screen">
    .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
    }
</style>
<div id="gr_grid_widget_1595168294">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <h2>
        <a style="text-decoration: none;" rel="nofollow"
            href="https://www.goodreads.com/review/list/7809364-ryan-fox?shelf=currently-reading&utm_medium=api&utm_source=grid_widget">Currently Reading</a>
    </h2>
    <div class="gr_grid_container">
        <div class="gr_grid_book_container"><a title="Journey through Genius: The Great Theorems of Mathematics"
                rel="nofollow" href="https://www.goodreads.com/book/show/116185.Journey_through_Genius"><img
                    alt="Journey through Genius: The Great Theorems of Mathematics" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348678123l/116185._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Jonathan Strange & Mr Norrell" rel="nofollow"
                href="https://www.goodreads.com/book/show/823763.Jonathan_Strange_Mr_Norrell"><img
                    alt="Jonathan Strange & Mr Norrell" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1402149914l/823763._SX98_.jpg" /></a>
        </div>
        <br style="clear: both" /><br /><a class="gr_grid_branding"
            style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both"
            rel="nofollow" href="https://www.goodreads.com/user/show/7809364-ryan-fox">Ryan Fox's favorite books
            »</a>
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Ryan, and even join a
            <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
    </div>

</div>
<script
    src="https://www.goodreads.com/review/grid_widget/7809364.Currently%20reading?cover_size=medium&hide_link=&hide_title=&num_books=20&order=a&shelf=currently-reading&sort=date_read&widget_id=1595168294"
    type="text/javascript" charset="utf-8"></script>
