<style type="text/css" media="screen">
    .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
    }
</style>
<div id="gr_grid_widget_1595170560">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <h2>
        <a style="text-decoration: none;" rel="nofollow"
            href="https://www.goodreads.com/review/list/7809364-ryan-fox?shelf=read&utm_medium=api&utm_source=grid_widget">Recently
            read</a>
    </h2>
    <div class="gr_grid_container">
        <div class="gr_grid_book_container"><a title="Girl, Woman, Other" rel="nofollow"
                href="https://www.goodreads.com/book/show/41081373-girl-woman-other"><img alt="Girl, Woman, Other"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1542296262l/41081373._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Viking Britain" rel="nofollow"
                href="https://www.goodreads.com/book/show/33505453-viking-britain"><img alt="Viking Britain"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1508176981l/33505453._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Héraclès La jeunesse du héros" rel="nofollow"
                href="https://www.goodreads.com/book/show/34502674-h-racl-s-la-jeunesse-du-h-ros"><img
                    alt="Héraclès La jeunesse du héros" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1488895970l/34502674._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Shenzhen" rel="nofollow"
                href="https://www.goodreads.com/book/show/2189426.Shenzhen"><img alt="Shenzhen" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327874080l/2189426._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="The Hanging Tree (Peter Grant, #6)" rel="nofollow"
                href="https://www.goodreads.com/book/show/21479290-the-hanging-tree"><img alt="The Hanging Tree"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1480443659l/21479290._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Why I'm No Longer Talking to White People About Race"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/33606119-why-i-m-no-longer-talking-to-white-people-about-race"><img
                    alt="Why I'm No Longer Talking to White People About Race" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1497293578l/33606119._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Foxglove Summer (Peter Grant, #5)" rel="nofollow"
                href="https://www.goodreads.com/book/show/20499240-foxglove-summer"><img alt="Foxglove Summer"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1402338677l/20499240._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Three Men in a Boat (Three Men, #1)" rel="nofollow"
                href="https://www.goodreads.com/book/show/54123864-three-men-in-a-boat"><img
                    alt="Three Men in a Boat" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1592330287l/54123864._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/5.Harry_Potter_and_the_Prisoner_of_Azkaban"><img
                    alt="Harry Potter and the Prisoner of Azkaban" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1499277281l/5._SY160_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="The Signal and the Noise: The Art and Science of Prediction"
                rel="nofollow" href="https://www.goodreads.com/book/show/17874847-the-signal-and-the-noise"><img
                    alt="The Signal and the Noise: The Art and Science of Prediction" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1367356806l/17874847._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Broken Homes (Peter Grant, #4)" rel="nofollow"
                href="https://www.goodreads.com/book/show/16078584-broken-homes"><img alt="Broken Homes"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1403204872l/16078584._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Whispers Under Ground (Peter Grant, #3)" rel="nofollow"
                href="https://www.goodreads.com/book/show/10814687-whispers-under-ground"><img
                    alt="Whispers Under Ground" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1349807829l/10814687._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Moon Over Soho (Peter Grant, #2)" rel="nofollow"
                href="https://www.goodreads.com/book/show/10381195-moon-over-soho"><img alt="Moon Over Soho"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1401386247l/10381195._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Born a Crime: Stories From a South African Childhood"
                rel="nofollow" href="https://www.goodreads.com/book/show/29780253-born-a-crime"><img
                    alt="Born a Crime: Stories From a South African Childhood" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473867911l/29780253._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Rivers of London (Peter Grant, #1)" rel="nofollow"
                href="https://www.goodreads.com/book/show/9317452-rivers-of-london"><img alt="Rivers of London"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1401385034l/9317452._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Oryx and Crake (MaddAddam, #1)" rel="nofollow"
                href="https://www.goodreads.com/book/show/46756.Oryx_and_Crake"><img alt="Oryx and Crake"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1494109986l/46756._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a
                title="Automate the Boring Stuff with Python: Practical Programming for Total Beginners"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/22514127-automate-the-boring-stuff-with-python"><img
                    alt="Automate the Boring Stuff with Python: Practical Programming for Total Beginners"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1418768948l/22514127._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="The Courage to be Happy: True Contentment Is In Your Power"
                rel="nofollow" href="https://www.goodreads.com/book/show/53104596-the-courage-to-be-happy"><img
                    alt="The Courage to be Happy: True Contentment Is In Your Power" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586529957l/53104596._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="All the Light We Cannot See" rel="nofollow"
                href="https://www.goodreads.com/book/show/18143977-all-the-light-we-cannot-see"><img
                    alt="All the Light We Cannot See" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1451445646l/18143977._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a
                title="The Master Algorithm: How the Quest for the Ultimate Learning Machine Will Remake Our World"
                rel="nofollow" href="https://www.goodreads.com/book/show/29952880-the-master-algorithm"><img
                    alt="The Master Algorithm: How the Quest for the Ultimate Learning Machine Will Remake Our World"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1462812729l/29952880._SX98_.jpg" /></a>
        </div>
        <br style="clear: both" /><br /><a class="gr_grid_branding"
            style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both"
            rel="nofollow" href="https://www.goodreads.com/user/show/7809364-ryan-fox">Ryan Fox's favorite books
            »</a>
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Ryan, and even join a
            <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
    </div>

</div>
<script
    src="https://www.goodreads.com/review/grid_widget/7809364.Recently%20read?cover_size=medium&hide_link=&hide_title=&num_books=18&order=d&shelf=read&sort=date_read&widget_id=1595170560"
    type="text/javascript" charset="utf-8"></script>
