<style type="text/css" media="screen">
    .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
    }

    .gr_grid_branding{
        display: none;
    }

    .recent-reading h2 {
        display: none;
    }
</style>
<div id="gr_grid_widget_1595170658">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <div class="gr_grid_container">
        <div class="gr_grid_book_container"><a title="Girl, Woman, Other" rel="nofollow"
                href="https://www.goodreads.com/book/show/41081373-girl-woman-other"><img alt="Girl, Woman, Other"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1542296262l/41081373._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Viking Britain" rel="nofollow"
                href="https://www.goodreads.com/book/show/33505453-viking-britain"><img alt="Viking Britain"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1508176981l/33505453._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Héraclès La jeunesse du héros" rel="nofollow"
                href="https://www.goodreads.com/book/show/34502674-h-racl-s-la-jeunesse-du-h-ros"><img
                    alt="Héraclès La jeunesse du héros" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1488895970l/34502674._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Shenzhen" rel="nofollow"
                href="https://www.goodreads.com/book/show/2189426.Shenzhen"><img alt="Shenzhen" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327874080l/2189426._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="The Hanging Tree (Peter Grant, #6)" rel="nofollow"
                href="https://www.goodreads.com/book/show/21479290-the-hanging-tree"><img alt="The Hanging Tree"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1480443659l/21479290._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Why I'm No Longer Talking to White People About Race"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/33606119-why-i-m-no-longer-talking-to-white-people-about-race"><img
                    alt="Why I'm No Longer Talking to White People About Race" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1497293578l/33606119._SX98_.jpg" /></a>
        </div>
        <br style="clear: both" /><br /><a class="gr_grid_branding"
            style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both"
            rel="nofollow" href="https://www.goodreads.com/user/show/7809364-ryan-fox">Ryan Fox's favorite books
            »</a>
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Ryan, and even join a
            <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
    </div>

</div>
<script
    src="https://www.goodreads.com/review/grid_widget/7809364.Recently%20read?cover_size=medium&hide_link=&hide_title=&num_books=6&order=d&shelf=read&sort=date_read&widget_id=1595170658"
    type="text/javascript" charset="utf-8"></script>
