<style type="text/css" media="screen">
    .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
    }
</style>
<div id="gr_grid_widget_1595168603">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <h2>
        <a style="text-decoration: none;" rel="nofollow"
            href="https://www.goodreads.com/review/list/7809364-ryan-fox?shelf=recommended&utm_medium=api&utm_source=grid_widget">Ryan's
            recommended books</a>
    </h2>
    <div class="gr_grid_container">
        <div class="gr_grid_book_container"><a title="Why I'm No Longer Talking to White People About Race"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/33606119-why-i-m-no-longer-talking-to-white-people-about-race"><img
                    alt="Why I'm No Longer Talking to White People About Race" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1497293578l/33606119._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="The Hate U Give (The Hate U Give, #1)" rel="nofollow"
                href="https://www.goodreads.com/book/show/32075671-the-hate-u-give"><img alt="The Hate U Give"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1476284759l/32075671._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a
                title="Factfulness: Ten Reasons We're Wrong About the World – and Why Things Are Better Than You Think"
                rel="nofollow" href="https://www.goodreads.com/book/show/34890015-factfulness"><img
                    alt="Factfulness: Ten Reasons We're Wrong About the World – and Why Things Are Better Than You Think"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1544963815l/34890015._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="The Nightingale" rel="nofollow"
                href="https://www.goodreads.com/book/show/21853621-the-nightingale"><img alt="The Nightingale"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1451446316l/21853621._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="The 7½ Deaths of Evelyn Hardcastle" rel="nofollow"
                href="https://www.goodreads.com/book/show/36337550-the-7-deaths-of-evelyn-hardcastle"><img
                    alt="The 7½ Deaths of Evelyn Hardcastle" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1506896221l/36337550._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="A Thousand Splendid Suns" rel="nofollow"
                href="https://www.goodreads.com/book/show/128029.A_Thousand_Splendid_Suns"><img
                    alt="A Thousand Splendid Suns" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1345958969l/128029._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="The Four Agreements: A Practical Guide to Personal Freedom"
                rel="nofollow" href="https://www.goodreads.com/book/show/6596.The_Four_Agreements"><img
                    alt="The Four Agreements: A Practical Guide to Personal Freedom" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348204644l/6596._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Walking: One Step at a Time" rel="nofollow"
                href="https://www.goodreads.com/book/show/40776924-walking"><img alt="Walking: One Step at a Time"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1532968800l/40776924._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Flowers for Algernon" rel="nofollow"
                href="https://www.goodreads.com/book/show/18373.Flowers_for_Algernon"><img
                    alt="Flowers for Algernon" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1554312314l/18373._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="Goodnight Mister Tom" rel="nofollow"
                href="https://www.goodreads.com/book/show/257758.Goodnight_Mister_Tom"><img
                    alt="Goodnight Mister Tom" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1431671015l/257758._SX98_.jpg" /></a>
        </div>
        <br style="clear: both" /><br /><a class="gr_grid_branding"
            style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both"
            rel="nofollow" href="https://www.goodreads.com/user/show/7809364-ryan-fox">Ryan Fox's favorite books
            »</a>
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Ryan, and even join a
            <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
    </div>

</div>
<script
    src="https://www.goodreads.com/review/grid_widget/7809364.Ryan's%20recommended%20books?cover_size=medium&hide_link=&hide_title=&num_books=10&order=d&shelf=recommended&sort=date_read&widget_id=1595168603"
    type="text/javascript" charset="utf-8"></script>
