<footer class="site-footer">
  <div class="container">
    <div class="footer small-font">
      <small class="copyright">
        &copy; Copyright {{ 'now' | date: "%Y" }}, R Fox Data
      </small>
      <div class="social">
        <ul class="social__list">
          <li class="social__item">
            {% if site.email %}
            <a class="social__link" href="mailto:{{ site.email }}">
              <i class="fas fa-envelope"></i>
            </a>
            {% endif %}
          </li>
          <li class="social__item">
            {% if site.linkedin_username %}
            <a class="social__link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fab fa-linkedin-in"></i>
            </a>
            {% endif %}
          </li>
          <li class="social__item">
            {% if site.github_username %}
            <a class="social__link" href="https://github.com/{{ include.site.github_username }}">
              <i class="fab fa-github"></i>
            </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>