<!-- begin header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
            {%if site.logo %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}">
            {% else %}
            {{ site.title }}
            {% endif %}
          </a>
        </div>

        <nav class="main-nav" id="main-nav">
          <div class="main-nav__box">
            <div class="nav__icon-close" onclick="openMenu()">
              <i class="fas fa-times"></i>
            </div>
            <div class="nav__title">Menu</div>
            <ul class="nav__list list-reset">
              <li class="nav__item">
                <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="{{ "/all-posts" | prepend: site.baseurl }}" class="nav__link">All posts</a>
              </li>
              <li class="nav__item">
                <a href="{{ "/projects" | prepend: site.baseurl }}" class="nav__link">Projects</a>
              </li>
              <li class="nav__item">
                <a href="{{ "/about" | prepend: site.baseurl }}" class="nav__link">About</a>
              </li>
              <li class="nav__item">
                <a href="{{ "/contact" | prepend: site.baseurl }}" class="nav__link">Contact</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="nav-buttons" onclick="openMenu()">
          <i class="nav__icon nav__icon-menu fas fa-bars"></i>
        </div>

      </div>
    </div>
  </div>
  <div class=" header__overlay" id="header__overlay" onclick="openMenu()"></div>
</header>
<!-- end header -->