/* Pagination
—————————————————————————————————————————————————— */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.pagination__list {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  display: flex;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  color: #17181e;
  background-color: #fff;
}

.pagination__count {
  display: inline-block;
  padding: 0 15px;
  margin: 0 15px;
  font-size: 13px;
  border-left: 1px solid rgba(23, 24, 30, 0.1);
  border-right: 1px solid rgba(23, 24, 30, 0.1);
  color: #657388;
}

.pagination__prev i {
  margin-right: 0.4em;
}

.pagination__next i {
  margin-left: 0.4em;
}

.pagination__next.disabled,
.pagination__prev.disabled {
  opacity: 0.2;
  color: inherit;
}
