// *****************
// Global Variables
// *****************

@charset "utf-8";

// Our variables
$base-font-family: "Inter", Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 600;

$light-grey-border: 10px solid #f9f9fc;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$link-hover: #0070ff;

$grey-color: #828282;
$grey-color-light: #b1b1b1;
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 550px;
$on-laptop: 780px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .div {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// This is what @include media-query translates to
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
