---
layout: default
---

{% include hero.html %}

<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="contaniner__inner animate">
                <div class="row">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="contaniner__inner animate">
                <div class="row">
                    {% for post in site.categories[page.categories] %}
                    {% include article-content.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>